<div class = 'hero'>
	<%= image_tag "oak8bit.jpg", class: "img-responsive", alt: "Responsive Image" %>
	<br />
	<br />
	<br />
	<br />
	<br>
</div>
	<div class="herotext col-xs-10 col-xs-offset-1">
		<br />
		<h2> like shazam, but better <br> and for trees </h2>
		<br />
		<%= link_to 'Play Now', new_admin_course_path, class: 'btn-lg btn-success' %>
		<br />
		<br />
		<br />
		</div>
	<div class="featured-trees col-xs-10 col-xs-offset-1">
		<br />
		<% @latest_trees.each do |tree| %>
			<div class ="slot1 col-xs-4">
				<h3><%= tree.title %></h3>
				<%= image_tag tree.image, class: 'img-responsive' %>
				<br>
				<%= link_to 'Name This Tree', adventure_path(tree), class: 'btn-lg btn-success' %>
			</div>
		<% end %>
	</div>
