<br/>
<br/>
<br/>
	<div class="container">
	<h1>START A NEW TREE ADVENTURE </h1>
		<%= simple_form_for @course, url: admin_courses_path do |f| %>
		<div class="group">
				<%= f.input :title %>
				<span class="highlight"></span>
				<span class="bar"></span>
				<%= f.label :title %>	
		</div>
		<div class="group">
			<%= f.input :description %>
			<span class="highlight"></span>
			<span class="bar">

		</div>
		<div class ="group">
			<%= f.input :points %>
			<span class="highlight"></span>
			<span class="bar"></span>
		</div>
		<div class ="group">
			<%= f.input :image %>
			<span class="highlight"></span>
			<span class="bar"></span>
		</div>
		<br/>
		<%= f.submit "Create", class: "btn btn-primary" %>
		<%end%>
		</div>
